<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reset password link for fair price.</title>
  </head>
  <body>
    <div>
      <p>Hi,</p>
      <p>The fair price store is here!</p>
      <p>To access the fair price store, <%=link_to "please first click this link to reset your password", reset_password_url(user_id: @user.id), html_options = { style: "font-weight: bold" } %>.</p>
      <p>If you run into any issues, please email them to <a href="mailto:support@fairprice.com">support@fairprice.com</a>. Our Support Team will be happy to help you.</p>
      <p>Thank you!</p>
    </div>
  </body>
</html>