
<style type="text/css">
  
  @media only screen and (max-width: 600px) {
 .store-counter{
  display:block !important ; 
  margin-left: -7%;
}
</style>


  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/store-locator-banner.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="padding-right: 2%">Store Locator</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- ========================  Contact ======================== -->

  <!-- ================ contact section start ================= -->
  <br>
  <br>

    <section class="subscribe_area section_padding">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="subscribe_area_text text-center">
                        <h3>SEARCH FOR A STORE NEAR YOU</h3>
                        <h5>See which stores are near your location or simply click the show all button to view all our stores</h5>
                        <div class="row" style="display: contents;">
                            <div class="store-counter"style="display: inline-flex; margin-left: -7%;">
                                <div style="padding: 20px">
                                  <h1>100</h1>
                                  <h2>Stores</h2>
                                  <p>and counting</p>
                                </div>
                                <div style="padding: 20px">
                                  <h1>1000+</h1>
                                  <h2>Products</h2>
                                  <p>and counting</p>
                                </div>
                                <div style="padding: 20px">
                                  <h1>10000+</h1>
                                  <h2>Clients</h2>
                                  <p>and counting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="display: none">
      <p id="lat_long"><%= @lat_long %>></p>
    </div>

  <section class="contact-section padding_top">
    <div class="container">
      <div class="d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px;"></div>
        <script>
             var markers = [];

            function initialize() {
                var beaches = $('#lat_long').text();
                beaches = eval(beaches.replace(">", ""))
            
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: new google.maps.LatLng(-26.243046, 28.006550),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
            
                var infowindow = new google.maps.InfoWindow();
            
                for (var i = 0; i < beaches.length; i++) {
            
                    var newMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(beaches[i][1], beaches[i][2]),
                        map: map,
                        icon: 'https://i.imgur.com/SzGKHAk.png',
                        title: beaches[i][0]
                    });
            
                    google.maps.event.addListener(newMarker, 'click', (function (newMarker, i) {
                        return function () {
                            infowindow.setContent(beaches[i][0]);
                            infowindow.open(map, newMarker);
                        }
                    })(newMarker, i));
            
                    markers.push(newMarker);
                }
            }
            
            initialize();
        </script>

      </div>

    </div>
  </section>
