   <style type="text/css">
       .list-unstyled h6{

        margin-right: 10px;
        font-size: 16px
       }

       @media (max-width: 576px) {

           .list-unstyled h6{

        margin-right: 0px !important;
        font-size: 16px
       }
       .custom-footer-links-style{


    padding-left: 0;
    list-style: none;
    float: left !important;

       }

}

   </style>


    <footer class="footer_part" style="background-color: #e6e6e6">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4 style="color: black">Terms & Services</h4>
                        <ul class="list-unstyled">
                            <li><a href="/privacy_policy">Privacy Policy</a></li>
                            <li><a href="/disclaimer">Disclaimer</a></li>
                            <!-- <li><a href="/employee_bursaries">Employee Bursaries</a></li> -->
                            <li><a href="/terms_and_conditions">Terms & Conditions</a></li>
                            <li><a href="/domicile_and_regulation">Country of Domicile and Regulation Laws</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4 style="color: black">categories</h4>
                        <ul class="list-unstyled">
                          <% Category.first(5).each do |category| %>
                            <li><a href="/product_category?type=<%= category.title.gsub(" ", "_") %>"><%= category.title %></a></li>
                          <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4 style="color: black"></h4>
                        <br>
                        <ul class="list-unstyled">
                          <% Category.last(5).each do |category| %>
                            <li><a href="/product_category?type=<%= category.title.gsub(" ", "_") %>"><%= category.title %></a></li>
                          <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4 style="color: black">Newsletter</h4>
                        <p style="color: #7f7f7f; font-weight: 500;">Stay up to date with our, Specials, New Product Launches and Competitions.
                        </p>
                        <div id="mc_embed_signup">
                            <form class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">Subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon" style="text-align: inherit;">
                               
                               <div style="text-align:left">
                                   <a  href="/store_locator" ><span style="margin:100px auto;color:#b41135;"><h6 style="margin:0px">Visit Us</h6></span></a> 
                               </div>
                            <ul class="list-unstyled custom-footer-links-style">

                                <li><h6>follow us</h6></li>
                                <li><a href="https://www.facebook.com/FairPrice2" target="_blank" class="single_social_icon"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/FairPrice_ZA" target="_blank" class="single_social_icon"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://za.pinterest.com/FairPrice18/" target="_blank" class="single_social_icon"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="https://www.instagram.com/fair_price2/" target="_blank" class="single_social_icon"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
      
        $("#newsletter-submit").click(function () {
          email = $('#newsletter-form-email').val()
              $.ajax({
                headers: { 'X-CSRF-Token': Rails.csrfToken() },
                url: '/home/subscribe_user?email=' + email,
                type: "POST",
                processData: false,
                success: function (data) {
                  window.location.href = '/';
                  // toastr.success('Email Subscribe sucessfully')
                }
            });
        });

    </script>