<div class="row">
  <div class="col-lg-6 offset-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Listing all Categories</div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
          <tr>
            <th>ID</th>
            <th>Category Title</th>
          </tr>
          </thead>
          <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.id %></td>
              <td><%= category.title %></td>
              <td><%= link_to "Edit",  edit_admin_category_path(category), class: "btn btn-xs btn-primary" %></td>
              <td><%= link_to "Delete", admin_category_path(category), method: :delete , data: {confirm: "Are you sure?"} , class: "btn btn-xs btn-danger" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>