<!-- ========================  Main header ======================== -->
<section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title"> About Us</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active" > About Us</a></li>
      </ol>
    </div>
  </header>
</section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">
      <p>
        Furnishia has the credit of launching First e-Channel of Furnishing Industry. Furnishiahas taken step forward to digitalize the furnishing Industry.
      </p>
      <p>
        Here, all customers who are looking for their favorite furnishing brand and their products can find here. It will be equally beneficial for both buyers and sellers who wants to buy the product and the companies who want to sell their product.
      </p>
      <p>
        We also have added Advertisement section for those companies who want to build their campaign and reach to the maximum audience.
      </p>
      <p>
        If companies are looking for better Human Resource, Job Section is also here and the candidate who are related to the furnishing Industry can directly view the Industry available Jobs.
      </p>
    </div>
  </div>
</section>





