<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2 style="padding-right: 12%;">Terms & Conditions</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">
      <h4 style="color: red;">Competition Rules</h4>
      <p class="about-content-style" >
        1. Below are the standard terms and conditions applicable to all competitions conducted/promoted partly or wholly by or associated with Fair Price. <br>
2. The judges' decision is final and no correspondence will be entered into. <br>
3. No director of Fair Price, Fair Price employees/or their agencies, and members of their immediate family; nor members of the sponsors of any competition listed on this page, and/or any of their affiliated companies and/or agencies, and members of their immediate family, may enter any of the competitions hosted partly or in whole by Fair Price. <br>
4. Prizes are not transferable and are not negotiable. <br>
5. Subject to sponsor conditions/other agreements, Fair Price undertakes to deliver prizes to respective winners within 14 days of draw. <br>
6. Prizes not collected/claimed within 30 days of being won will be disposed of at Fair Price's discretion. <br>
7. Winners of specific competitions accept that certain other conditions may apply as prescribed by Fair Price and/or the respective sponsor of the specific competition. Where there are specific terms and conditions in addition to these standard terms and conditions, such terms and conditions shall be listed under the terms and conditions of the specific competition. <br>
8. Any violation or attempt to violate any of the above rules will result in the immediate disqualification of the transgressor. <br>
9. Entrants below the age of 18 (eighteen) should obtain their parents’ or guardian’s consent before entering the competition. <br>
10. By participating in any competition hosted partly or in whole by Fair Price Furniture, where entry is on-line, participants further agree to be bound by our Internet Terms & Conditions. <br>
    </div>
    <div class="container">
      <h4 style="color: red;">Important Notice</h4>

      <p class="about-content-style" >
        Beware of bogus callers & SMS notifications that say you've won with Fair Price Furniture. Here's how you can check for bogus notifications:
      </p>

      <p class="about-content-style" >
        
11. You will NEVER be contacted by SMS if you are a winner. <br>
12. Unless pre-arranged with you, Fair Price Furniture representatives will NEVER come to your office or home to say you're a winner or to deliver a prize.<br>
13. Most of our prizes are couriered to you. Unless otherwise specified, the ONLY prize collection points from Fair Price Furniture is from the reception area of Fair Price Furniture, 8 Rente Street, Ormonde or from any of the stores. Please NEVER agree to collect a prize from ANYWHERE else.<br>
14. If anyone phones to say you've won a prize in a Fair Price Furniture competition, make sure you entered it! If anyone calls to say you've won a competition you never entered with Fair Price Furniture, it is NOT one of our representatives.<br>
15. Our representatives will be able to quote you your ID number. If in ANY doubt, ask the caller for their name and the Fair Price Furniture switchboard number and phone the caller back. Any number other than 087 740 2101 means the caller is trying to trick you. If in doubt, you can call Quraisha Moosa on 087 740 2101.<br>
16. If you are concerned that a bogus caller has contacted you, please store the number of the caller (if you have caller ID) and email it to enquires@fairprice.co.za.<br>
17. You will be contacted as well as be publicly announced on all of our Social Media, with your picture posted.<br>
18. All our internet terms and conditions apply.
      </p>
    </div>
  </div>
</section>