<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Listing all Product Categories</div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
          <tr>
            <th>Title</th>
            <th>Action</th>>
          </tr>
          </thead>
          <tbody>
          <% @product_categories.each do |product_category| %>
            <tr>
              <td><%= product_category.title %></td>
              <td><%= link_to "Edit",  edit_admin_product_category_path(product_category), class: "btn btn-xs btn-primary" %>
              <%= link_to "Delete", admin_product_category_path(product_category), method: :delete , data: {confirm: "Are you sure?"} , class: "btn btn-xs btn-danger" %>
              </td>
              
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
